footer{
    padding-top: 1rem 1rem 0 1rem;
    margin-bottom: 0rem;
    margin-top: 1rem;
}

.btn-reserva{
    width: 100%;
    position: static;
    left: 0;
    bottom: 0;
}

.card-hotel{
    flex: 1 15rem;
    padding: 2px 5px 2px 5px;
}